<!-- <div class="ui-g">
  <div class="ui-g-6">
    <p-fileUpload
      (onSelect)="onFileSelect($event)"
      (onRemove)="onFileRemove($event)"
      multiple="multiple"
      accept="image/*"
      [showUploadButton]="true"
      [uploadLabel]="'Find Scoring'"
      [showCancelButton]="false"
      [chooseLabel]="'Add File(s)'"
      customUpload="true"
      (uploadHandler)="updateImagesFiles($event)"
    >
    </p-fileUpload>
  </div>
  <div class="ui-g-6"></div>
</div> -->

<div class="ui-g">
  <div class="ui-g-2">
    <p-fileUpload
      (onSelect)="onFileSelect($event)"
      (onRemove)="onFileRemove($event)"
      multiple="multiple"
      accept="image/*"
      [showUploadButton]="false"
      [showCancelButton]="false"
      [chooseLabel]="'Add File(s)'"
    >
    </p-fileUpload>
  </div>
  <div class="ui-g-10"></div>
</div>

<!-- <p-card *ngIf="imageUrls.length"> -->
<div style="margin-top: 5px;" *ngIf="imageUrls.length">
  <img *ngFor="let url of imageUrls" [src]="url" />
</div>
<!-- </p-card> -->